.delete-popup {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 300px;;
}

.delete-popup-buttons {
    display: flex;
    justify-content: space-between;
}
.delete-popup-buttons button{
    margin: 15px;
    height: 50px;
    width: 100px;
    border-radius: var(--border-radius);
    border: none;
color: rgb(134, 25, 25);
}