:root {
  --light:white;
  --dark:rgb(39, 38, 38);;
  --primary: rgb(20, 71, 73);
  --primaryLight: rgb(19, 141, 74);
  --gray: #A8A8A8;
  --darkGray: #706F6F;
  --lightgray: #D0D0D0;

  --border-radius: 8px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark);
}